@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500;700&display=swap');

:root {
  --color-grey: rgb(105, 105, 105);
  --color-black: rgb(20, 20, 20);
  --color-white: rgb(250, 250, 250);
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
   border: initial;
   background-color: initial;
   font: inherit;
   color: inherit;
   outline: none; /* make sure there is a visual indicator for focus*/
}


.App {
  min-height: 100vh;
  min-width: 100%;
}

.hamburger {
  display: none;
}

/* STYLES */

.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 80px;
  font-size: 1rem;
  font-weight: 700;
  margin: 12px 0;
}

.nav-right {
  margin-left: auto;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav__links {
  padding: 0 20px;
}


.main {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  padding: 0 120px 0 100px;
  /* display: flex; */
  
}

.main__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.main__img-mobile {
  display: none;
}

.main__left-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 1rem 5rem;
}

.main__left-container-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.main__right-container {
  padding: 1rem;
}

.main__left-h1 {
  margin-top: 3rem ;
  font-size: 60px;
  line-height: .80;
}

.main__left-h1-span {
  display: block;
}

.main__p {
  font-size: 18px;
  color: var(--color-grey);
  font-weight: 700;
  margin: 3rem 0;
  padding-right: 5rem;
  line-height: 1.5;
}

.main__btn {
  background-color: var(--color-black);
  color: var(--color-white);
  align-self: start;
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

@media (max-width: 1141px) {
  .main__left-h1 {
    font-size: 40px;
  }
  .main__p {
    font-size: 16px;
  }
  .main {
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .main__left-container {
    padding: 3rem;
  }
  .main__p {
    padding-right: 3rem;
  }
}

@media (max-width: 990px) {
 .main {
   padding: 1rem;
 } 
}

@media (max-width: 890px) {
  .nav__links {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .main {
    padding: 12px;
  }
}

@media (max-width: 799px) {
  .main__left-container{
    padding: 12px;
  }
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 643px) {
  .main {
    padding: 0;
    height: 100%;
  }
  .main__p {
    padding-right: 0;
  }
}



 @media (min-width: 390px) and (max-width: 746px) {
  .main {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0;
  }
  .main__right-container {
    padding: inherit;
  }
  .main__left-container {
    padding: 1rem;
  }
  .main__left-h1 {
    font-size: 50px;
  }

  .nav__links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .header {
    padding: 0 1rem ;
  }
  .main__p {
    padding: 0;
    text-align: left;
  }
  .main__img {
    display: none;
    
  }
  .main__img-mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  .data-biz {
    
  }
} 

